<!-- FOOTER -->
<footer>
    <div class="dot-div"></div>
    <div class="black-text footer-div center-align">

        <ul>
            <li><a class="footer-link">Contact Us </a> | </li>
            <li><a class="footer-link">Call Charges </a> | </li>
            <li><a class="footer-link">Using your online account </a> | </li>
            <li><a class="footer-link">Site maps </a> | </li>
            <li><a class="footer-link">Terms and Conditions </a> | </li>
            <li><a class="footer-link">Cookies </a> | </li>
            <li><a class="footer-link">Freedom of information </a> | </li>
            <li><a class="footer-link">Equality and diversity </a></li>
        </ul>
    </div>
    <div class=" dot-div"></div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2019 Copyright Text Made By <span class="red-text"> Javeria Nadeem </span>, <span class="red-text">
                Qandeel Asif </span> and <span class="red-text"> Yasir </span>
        </div>
    </div>
</footer>
<!-- <script src="./js/database.js"></script>
<script src="js/database.js"></script> -->

</body>

</html>