<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rescuing The Rescued</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" media="screen" href="css/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.carousel');
            M.Carousel.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            M.FloatingActionButton.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.collapsible');
            M.Collapsible.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.scrollspy');
            M.ScrollSpy.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            M.Modal.init(elems);
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.datepicker');
            M.Datepicker.init(elems);
        });
    </script>
    <!-- Compiled and minified JavaScript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCYBd6LwvyDyOxjXxPAkR5Eh5r0sxB-o-s",
            authDomain: "rescuing-the-rescued.firebaseapp.com",
            databaseURL: "https://rescuing-the-rescued.firebaseio.com",
            projectId: "rescuing-the-rescued",
            storageBucket: "rescuing-the-rescued.appspot.com",
            messagingSenderId: "467390098871",
            appId: "1:467390098871:web:236440038080d6bd"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

</head>

<body>

    <!--MY NAVBAR-->
    <header class="my-header scrollspy" id="">
        <div class="">
            <nav class="nav-wrapper">
                <div class="navbar-links center-align">
                    <ul class=" nav-ul ">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Report Case</a></li>
                        <li><a href="/child">Chidren</a></li>
                        <li><a href="/login">Signup</a></li>
                        <li><a href="/login" class="waves-effect waves-light btn-large donate-button">Donate</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="hide-on-large-only fake-div1 #212121 red darken-2 "></div>
    <div class="hide-on-med-and-up fake-div2 #212121 red darken-2 "></div>