<% include partials/header.ejs %>
<br><br>
<div class="welcome center-align">
<main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">
        <h3 class="title grey-text text-lighten-3">Donors</h3>
    </span>
</main>
</div>
<br>
<!-- ALL DONORS HERE -->
<div class="center-align">
    <a href="#donor-details-modal" class=" modal-trigger btn waves-effect donor-btn">Become A Donor Now!</a>
</div>
<br>
<div class="container">
    <div class="row " id="add-donor">

    </div>
</div>

<!-- DONOR DETAILS MODAL -->
<div id="donor-details-modal" class="modal">
    <div class="modal-content">
        <h4>Add Your Details</h4><br />
        <form id="donor-form">
            <div class="input-field">
                <input type="text" id="donor-name" placeholder="Enter name" name="name" required />
            </div> 
            <div class="input-field">
                <input type="number" id="donor-number" placeholder="Enter Contact no. " name="number" required />
            </div>
            <div class="input-field">
                <input type="number" id="donor-amount" placeholder="Enter Donation Amount" name="amount" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="waves-effect waves-light btn red darken-2">
                    Save</button>
                <a href="#!" class="modal-close waves-effect red darken-2 btn">Close</a>
            </div>
        </form>
    </div>
</div>
<script src="js/donorsdb.js"></script>
<% include partials/footer.ejs %>