<% include partials/header.ejs %>
<div class="carousel">

        <a class="carousel-item" href="#one!"><img src="images/child6.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="images/child7.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="images/child8.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="images/child4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="images/child5.jpg"></a>
</div>

<div class="background-div">
  <div class="center-align about-us-div">
    <h4>About Us</h4>
  </div>
  <br><br> 

  <div class="container about-us-container">
    <div class="row valign-wrapper">
      <div class="col l6 s12 helper-div-1">
        <img src="images/helper1.png" alt="" class="z-depth-2">
      </div>
      <div class="col l6 s12 about-us-para">
        <span>Project deals with the first steps in easing the passage of recovery. Associating helpers with
          experience and will to be working with counselors who can help the children regain some sense of
          safety and autonomy.</span>
      </div>
    </div>

    <br><br><br><br>

    <div class="row valign-wrapper">

      <div class="col l6 s12 about-us-para">
        <span>Project deals with the first steps in easing the passage of recovery. Associating helpers with
          experience and will to be working with counselors who can help the children regain some sense of
          safety and autonomy.</span>
      </div>

      <div class="col l6 s12 helper-div-1">
        <img src="images/helper2.png" alt="" class="z-depth-2">
      </div>
    </div>

  </div>
  <br><br>
</div>


<!-- CARDS -->
<div class="center-align why-donate-div">
  <h4>Why Help?</h4>
</div>

<br>


<!-- CARDS -->
<div class="container">
  <div class="row">

    <div class="card large col l4 m6 s12 hoverable" id="">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="images/helper34.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <h5>How it is better for stress?<i class="material-icons right">more_vert</i></h5>
        </span><br>
        <p>It may seem strange, but helping others doesn’t add more stress to your life, it actually helps us manage
          stress better.</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">How it is better for stress?<i
            class="material-icons right">close</i></span>
        <p>Happy workers are more likely to report that they regularly help others.
          Some studies have shown that children under the age of two report being happier when they give treats away
          rather than receiving treats themselves.</p>
      </div>
    </div>
    <div class="card large col l4 m6 s12 hoverable " id="">
      <div class="card-image waves-effect waves-block waves-light ">
        <img class="activator responsive-img" src="images/paintedhands.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <h5>Build Stronger Connections<i class="material-icons right">more_vert</i></h5>
        </span><br>
        <p>Most of us want to feel like our lives mean something.</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Build Stronger Connections<i
            class="material-icons right">close</i></span>
        <p>So it’s not surprising that several studies have shown how helping others can boost our sense of happiness.

          One study showed that helping others through volunteer work increased levels of happiness in the
          participants.
          In another study, people were given money to either spend on themselves or give to charity. Those who gave
          to charity felt happier.
        </p>
      </div>
    </div>

    <div class="card large col l4 m6 s12 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="images/helper4.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <h5>Finds meaning in your life<i class="material-icons right">more_vert</i></h5>
        </span><br>
        <p>Helping others fulfills some of our most basic needs</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Finds meaning in your life<i
            class="material-icons right">close</i></span>
        <p>The idea that there is a link between a meaningful life and helping others is actually a rather old one.
          Carol Ryff, a psychologist, reviewed the writings of numerous philosophers and thinkers throughout history
          and found one overarching ideas: that helping others is “a central feature of a positive, well-lived life.”
        </p>
      </div>
    </div>
  </div>

</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red darken-2">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a href="https://www.facebook.com/" class="btn-floating blue darken-3"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.youtube.com/" class="btn-floating red"><i class="fa fa-youtube"></i></a></li>
    <li><a href="https://www.twitter.com/" class="btn-floating blue"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/" class="btn-floating pink"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>

<div class="">
  <marquee behavior="scroll" direction="left" class="text-marquee">

    <h5 class="haunting-text">8 of the Most Haunting Missing Children Cases</h5>
    <span class="missing-kid-links">
      <a href="#sara" class="missing-kid scrollspy ">Sarah Kinslow</a>
      <a href="#cherrie">Cherrie Mahan</a>
      <a href="#adji">Adji Desir</a>
      <a href="#tim">Timmothy Pitzen</a>
      <a href="#made"> Madeleine McCann</a>
      <a href="#lisa">Lisa Irwin</a>
      <a href="#kyron">Kyron Horman</a>
      <a href="#sabrina">Sabrina Aisenberg</a>
    </span>
  </marquee>
</div>

<div class="container collapsible-div center-align">
  <ul class="collapsible popout">
    <li>

      <div class="center-align">
        <img src="images/missingkid3.PNG" alt="" class="missing-kid-1">
      </div>

      <div class="collapsible-header scrollspy header-div center-align" id="sara"><span>Sarah Kinslow</span></div>
      <div class="collapsible-body"><span>First on this list of missing children cases is that of Sarah Kinslow. It was
          2001 when tragedy struck the Kinslow family. In May, 14-year-old Sarah Kinslow was dropped off at her school
          in Texas; little did her family know, it would be the last time they’d see her.
        </span>
        <br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a>
      </div>

    </li>
    <br><br>
    <li>

      <div class="center-align">
        <img src="images/missingkid1.PNG" alt="" class="missing-kid-2">
      </div>

      <div class="collapsible-header scrollspy" id="cherrie">Cherrie Mahan</div>
      <div class="collapsible-body"><span>Leroy McKinney often drove little Cherrie the 50 yards from the school bus
          stop and Wilfield roads to their mobile home, but on February 22, 1985, he and his wife, Janice, decided to
          have the 8-year-old walk home—a decision they’d forever regret.

        </span>
        <br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a>

      </div>
    </li>
    <br><br>
    <li>

      <div class="center-align">
        <img src="images/missingkid2.PNG" alt="" class="missing-kid-3">
      </div>
      <div class="collapsible-header scrollspy" id="adji">Adji Desir</div>
      <div class="collapsible-body"><span>Six-year-old Adji Desir was just playing outside his grandmother’s house when
          he strangely disappeared. Adji was with other kids that day, and he came in to eat dinner but went back out
          again to play. His grandmother checked on him from time to time. Fifteen minutes after she last saw the boy
          from the window, Adji’s grandma took a peek again, but the young boy was gone.
        </span><br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a></div>
    </li>
    <br><br>
    <li>


      <div class="center-align">
        <img src="images/missingkid4.PNG" alt="" class="missing-kid-4">
      </div>

      <div class="collapsible-header scrollspy" id="tim">Timmothy Pitzen</div>
      <div class="collapsible-body"><span>“Get along with everybody, running down the street, always happy, always fun
          to be around. Always looking for the next adventure” is how James Pitzen describes his son. And for almost six
          years now, he’s still hoping he will see the son he loves seeing smile again.
        </span><br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a>
      </div>
    </li>
    <br><br>
    <li>

      <div class="center-align">
        <img src="images/missingkid5.PNG" alt="" class="missing-kid-5">
      </div>

      <div class="collapsible-header scrollspy" id="made">Madeleine McCann</div>
      <div class="collapsible-body"><span>The McCann family from Leicestershire were a holidaying in Algarve, Portugal,
          when 3-year-old Madeleine went missing. It was May 3, 2007, and Madeleine’s parents, Gerry and Kate McCann,
          both doctors, decided to have dinner at a tapas bar 120 meters away from the apartment they were staying. The
          couple left Madeleine and toddler twins Sean and Amelie who were all sleeping in their rented room.

        </span>
        <br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a>
      </div>
    </li>
    <br><br>
    <li>


      <div class="center-align">
        <img src="images/missingkid6.PNG" alt="" class="missing-kid-6">
      </div>

      <div class="collapsible-header scrollspy" id="lisa">Lisa Irwin</div>
      <div class="collapsible-body"><span>Lisa Irwin was not even a year old when she disappeared. Her mom, Deborah
          Bradley, tucked her into bed one night in 2011. The mother then went to have a few drinks. When Lisa’s father,
          Jeremy, got home from work at 3:00 a.m., he noticed his daughter was not in her crib.</span>
        <br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a>
      </div>
    </li>
    <br><br>
    <li>

      <div class="center-align">
        <img src="images/missingkid7.PNG" alt="" class="missing-kid-7">
      </div>

      <div class="collapsible-header" id="kyron">Kyron Horman</div>
      <div class="collapsible-body"><span>Born on September 9, 2002, Kyron Horman was only seven when he disappeared
          without trace.

          On June 4, 2010, Skyline Elementary in Oregon opened early to give students and parents enough time to tour
          the science fair happening that day, an event Kyron was to take part in. Shortly after eight, he arrived at
          school with his stepmom, Terri Moulton Horman. Thirty minutes later, she left after watching her stepson walk
          to his classroom.</span><br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a>

      </div>
    </li>
    <br><br>
    <li>


      <div class="center-align">
        <img src="images/missingkid8.PNG" alt="" class="missing-kid-8">
      </div>

      <div class="collapsible-header" id="sabrina">Sabrina Aisenberg</div>
      <div class="collapsible-body"><span>Probably one of the youngest subjects of missing children cases, Sabrina
          Aisenberg was only 4 months old when she was taken from her crib in November 1997. She was put down to sleep
          one night by her mother, she didn’t know the minute she watched her doze off would be the last time she could
          ever lay her eyes on her daughter.</span>
        <br><br><br>

        <a href="https://trackimo.com/missing-children-cases/" class="waves-effect waves-light btn red darken-2">Read
          More</a>
      </div>
    </li>
  </ul>
</div>



<% include partials/footer.ejs %>
