<% include partials/header.ejs %>
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="images/child6.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="images/child7.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="images/child8.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="images/child4.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="images/child5.jpg"></a>
</div>

<div class="background-div">
  <div class="center-align about-us-div">
    <h4>About Us</h4>
  </div>
  <br><br>

  <div class="container about-us-container">
    <div class="row valign-wrapper">
      <div class="col l6 s12 helper-div-1">
        <img src="images/helper1.png" alt="">
      </div>
      <div class="col l6 s12 about-us-para">
        <span>Project deals with the first steps in easing the passage of recovery. Associating helpers with
          experience and will to be working with counselors who can help the children regain some sense of
          safety and autonomy.</span>
      </div>
    </div>

    <br><br><br><br>

    <div class="row valign-wrapper">

      <div class="col l6 s12 about-us-para">
        <span>Project deals with the first steps in easing the passage of recovery. Associating helpers with
          experience and will to be working with counselors who can help the children regain some sense of
          safety and autonomy.</span>
      </div>

      <div class="col l6 s12 helper-div-1">
        <img src="images/helper2.png" alt="">
      </div>
    </div>

  </div>
  <br><br>
</div>


<!-- CARDS -->
<div class="">
  <div class="center-align why-donate-div">
    <h4>Why Help?</h4>
  </div>

  <br>

  <!-- CARDS -->
  <div class="container">
    <div class="row">

      <div class="card large col l4 m6 s12 hoverable" id="">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator responsive-img" src="images/helper34.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <h5>How it is better for stress?<i class="material-icons right">more_vert</i></h5>
          </span><br>
          <p>It may seem strange, but helping others doesn’t add more stress to your life, it actually helps us manage
            stress better.</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">How it is better for stress?<i
              class="material-icons right">close</i></span>
          <p>Happy workers are more likely to report that they regularly help others.
            Some studies have shown that children under the age of two report being happier when they give treats away
            rather than receiving treats themselves.</p>
        </div>
      </div>

      <div class="card large col l4 m6 s12 hoverable " id="">
        <div class="card-image waves-effect waves-block waves-light ">
          <img class="activator responsive-img" src="images/paintedhands.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <h5>Build Stronger Connections<i class="material-icons right">more_vert</i></h5>
          </span><br>
          <p>Most of us want to feel like our lives mean something.</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Build Stronger Connections<i
              class="material-icons right">close</i></span>
          <p>So it’s not surprising that several studies have shown how helping others can boost our sense of happiness.

            One study showed that helping others through volunteer work increased levels of happiness in the
            participants.
            In another study, people were given money to either spend on themselves or give to charity. Those who gave
            to charity felt happier.
          </p>
        </div>
      </div>


      <div class="card large col l4 m6 s12 hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator responsive-img" src="images/helper4.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <h5>Finds meaning in your life<i class="material-icons right">more_vert</i></h5>
          </span><br>
          <p>Helping others fulfills some of our most basic needs</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Finds meaning in your life<i
              class="material-icons right">close</i></span>
          <p>The idea that there is a link between a meaningful life and helping others is actually a rather old one.
            Carol Ryff, a psychologist, reviewed the writings of numerous philosophers and thinkers throughout history
            and found one overarching ideas: that helping others is “a central feature of a positive, well-lived life.”
          </p>
        </div>
      </div>





      <% include partials/footer.ejs %>