<% include partials/header.ejs %>
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="images/child6.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="images/child7.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="images/child8.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="images/child4.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="images/child5.jpg"></a>
</div>

<div class="background-div">
  <div class="center-align about-us-div">
    <h4>About Us</h4>
  </div>
  <br><br>
  <div class="container about-us-container">
    <div class="row valign-wrapper">
      <div class="col l6 helper-div-1">
        <img src="images/helper1.png" alt="">
      </div>
      <div class="col l6 about-us-para">
        <span>Project deals with the first steps in easing the passage of recovery. Associating helpers with
          experience and will to be working with counselors who can help the children regain some sense of
          safety and autonomy.</span>
      </div>
    </div>


  </div>

  <br><br><br><br>

  <div class="container about-us-container">
    <div class="row valign-wrapper">

      <div class="col l6 about-us-para">
        <span>Project deals with the first steps in easing the passage of recovery. Associating helpers with
          experience and will to be working with counselors who can help the children regain some sense of
          safety and autonomy.</span>

      </div>
      <div class="col l6 helper-div-1">
        <img src="images/helper2.png" alt="">
      </div>

    </div>


  </div>
  <br><br>
</div>


<!-- CARDS -->

<!-- CARDS -->
<div class="container">
  <div class="row">
    <div class="card large col l4 m6 s12 hoverable " id="">
      <div class="card-image waves-effect waves-block waves-light ">
        <img class="activator responsive-img" src="images/helper3.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <h5>Your Blood Type Explained<i class="material-icons right">more_vert</i></h5>
        </span><br>
        <p>Find out about your blood type</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Your Blood Type Explained<i
            class="material-icons right">close</i></span>
        <p>There are eight main blood types but some are more common than others. The list below shows the
          percentage of donors with each blood type:

          <br>O positive: 35%<br>
          O negative: 13%<br>
          A positive: 30%<br>
          A negative: 8%<br>
          B positive: 8%<br>
          B negative: 2%<br>
          AB positive: 2%<br>
          AB negative: 1%</p>
      </div>
    </div>

    <div class="card large col l4 m6 s12 hoverable" id="">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="images/helper34.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <h5>Can't Find An Appointment?<i class="material-icons right">more_vert</i></h5>
        </span><br>
        <p>Thank you for trying. Please book for a future date and read more about how we plan your
          donations.</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Can't Find An Appointment?<i
            class="material-icons right">close</i></span>
        <p>Appointment availability
          Find out why you may get an immediate booking to give blood and at other times have to book well
          in advance.</p>
      </div>
    </div>



    <div class="card large col l4 m6 s12 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="images/hands.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <h5>Unsure whether you can donate?<i class="material-icons right">more_vert</i></h5>
        </span><br>
        <p>Use our Health, Eligibility and Travel tool to confirm that you're ok to give blood.</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Unsure whether you can donate?<i
            class="material-icons right">close</i></span>
        <p>Health, Eligibility & TravelTo find out whether any health conditions, medications, professions
          or travelling to certain countries could affect your ability to give blood, then please choose
          Health / Eligibility or Travel </p>
      </div>
    </div>





<% include partials/footer.ejs %>