<% include partials/header.ejs %>
<p>this our homepage</p>
<div class="carousel">
        <a class="carousel-item" href="#one!"><img src="./views/images/child6.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="./views/images/child7.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="./views/images/child8.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="./views/images/child4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="./views/images/child5.jpg"></a>
  </div>
<% include partials/footer.ejs %>
