<% include partials/header.ejs %>

<script src="./js/firebaseAuth.js"></script>

<button id="google-signin" class="waves-effect waves-light btn red darken-1" onclick={signInWithGoogle()}>
    Sign In With Google
</button>

<button id="google-signout" class="waves-effect waves-light btn red darken-1" onclick={signOut()} style="display: none; visibility: hidden;">
        Sign Out
</button>
<% include partials/footer.ejs %>